body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size:16px;
}

.container{
  width: 80%;
  margin:auto;
}

.w3-half img{
  margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer
}

.w3-half img:hover{
  opacity:1
}

/* slideshow 2 */
/*width is height, height is width because we rotate it 90 degree*/
.slider-background{ /*background*/
  background:white;
  height: 300px;
}

.horizontal-scroll-wrapper {
  font-size: 13px;
  width: 300px;
  height: 670px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-200px);; /*rotate it to become horizontal scroll. the translateY is padding left outside*/
  transform-origin: right top;
  padding-top: 10px; /* left of the slider*/
}

.horizontal-scroll-wrapper > div {
  width: 250px;
  height: 250px;
  border: 2px white;
  transform: rotate(90deg); /*rotate the content to become upright again */
  transform-origin: right top;
  background: white;
  overflow: auto;
}

.horizontal-scroll-wrapper::-webkit-scrollbar{ /*to hide scrollbar*/
  display: none;
}

.horizontal-scroll-wrapper img{
  margin: 1px 0;
  width: 235px;
}

.horizontal-scroll-wrapper p,h3{ /*font size*/
  margin: 0.5em 0.5em;
}

.horizontal-scroll-wrapper a{
  color: #222;
  text-decoration: none;
}

.horizontal-scroll-wrapper a:visited{
  color: #222;
  text-decoration: none;
}

.horizontal-scroll-wrapper a:hover{
  color: #5860a2;
}


.quizContainer {
  height:50%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #9c27b0;
  padding: 20px;
  border: 1px;
}

.question {
  padding: 20px;
  background: #50cec2;
  border-radius: 0px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option {
  width: 95%;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 10px;
}

.option:hover {
  background: #ffdddd;
  color: #50cec2;
}

.option input:checked .option {
  background-color: #ffdddd;
  color: #50cec2;
}

.next-btn-quiz {
  display: inline-block;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: 1px;
  color: #fff;
  background-color: #9c27b0;
  border: 5px;
  width: 100%;
  border-radius: 5px;
  /* box-shadow: 0 9px #999; */
  margin: 0px;
  /*
  border: white;
  outline: white;
  background: #9c27b0;
  width: 250px;
  height: 70px;
  border-radius: 100px;
  cursor: pointer;
  float: right;
  margin: 0px; */
}

.next-btn-quiz:hover {
  box-shadow: 0 12px 35px 0 #ffdddd, 0 17px 35px 0 rgba(0,0,0,0.19);
  background: #9c27b0;
  color: #f6f6f6;

  /* background-color: #ffdddd */
}

.button:active {
  background-color: #9c27b0;
  box-shadow: 0 50px #666;
  transform: translateY(4px);
}

.result {
  height: 100px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: #9c27b0;
}

/* slideshow 2 */
/*width is height, height is width because we rotate it 90 degree*/
.slider-background{ /*background*/
  background:white;
  height: 300px;
}

.horizontal-scroll-wrapper {
  font-size: 13px;
  width: 300px;
  height: 670px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-200px);; /*rotate it to become horizontal scroll. the translateY is padding left outside*/
  transform-origin: right top;
  padding-top: 10px; /* left of the slider*/
}

.horizontal-scroll-wrapper > div {
  width: 250px;
  height: 250px;
  border: 2px white;
  transform: rotate(90deg); /*rotate the content to become upright again */
  transform-origin: right top;
  background: white;
  overflow: auto;
}

.horizontal-scroll-wrapper::-webkit-scrollbar{ /*to hide scrollbar*/
  display: none;
}

.horizontal-scroll-wrapper img{
  margin: 1px 0;
  width: 235px;
}

.horizontal-scroll-wrapper p,h3{ /*font size*/
  margin: 0.5em 0.5em;
}

.horizontal-scroll-wrapper a{
  color: #222;
  text-decoration: none;
}

.horizontal-scroll-wrapper a:visited{
  color: #222;
  text-decoration: none;
}

.horizontal-scroll-wrapper a:hover{
  color: #5860a2;
}
