body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size:16px;
}

.container{
  width: 80%;
  margin:auto;
}

.w3-half img{
  margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer
}

.w3-half img:hover{
  opacity:1
}

HTML,BODY{
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/flowerani.cur"),
  url("http://downloads.totallyfreecursors.com/thumbnails/flower.gif"), auto;
}
